<h1> <%=fn%> <%=ln%> how much change do you have? </h1>

<form method = "post" action = "p_coin">
	<input type = "text" name = "change" required>
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
</form> 

