<head>
<link rel="stylesheet" href="css/style.css">
<header class = "color size left"> Coin Changer

<ul>
	<li><a href="/"> Home </a></li>
	<li><a href="/user"> Name </a></li>
	<li><a href="/coin"> Change </a></li>
</ul>
</header>
</head>

<body>
<%=yield%>
</body>

<footer class = "center">
<a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a>
	
</footer>
