<head>

<link rel="stylesheet" href="css/style.css">


</head>


<div>

<h1 class = "title"> Coin Changer </h1>

<ul>
	<li><a href="/"> Home </a></li>
	<li><a href="/user"> Name </a></li>
	<li><a href="/coin"> Change </a></li>
</ul>

</div>

<body>
<%=yield%>
</body>

<footer class = "center">
	<a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a>
	<h4 class = "title color"> Come all, let us march toward the end of all reason </h4>
</footer>
