<body>
<h2> <%=yay%> </h2>

<h1> What is your user name?: </h1>
<form method = "post" action = "un">
	<input type = "text" name = "fn" required>
	<input type = "text" name = "ln" required>
	<input type = "submit" value = "Submit">
	</form>
</body>