.color {
	color: red;
	background-color: black;
}

.size {
	font-size: 4rem;
	text-decoration: underline;
}

.left {
	text-align: left;
}

head {
	border-style: solid;
	border-width: 10px;
	border-color: red;
	color: red;
	width: 100%;


}

ul {
	text-align: right;
	font-size: 1.5rem;
}

li {
	display: inline;
	padding-right: 1rem;
	color: red;
}

li a {
	color: red;
}

li a:hover {
	background-color: white;

}

li a:active {
	background-color: black;
	color: white;
}

h1 {
	text-decoration: underline;
}

body {
	
	text-align: center;
	color: gold;
	background-image: url(/images/coin.jpg);
	background-size: 100%
	background-position: center;
	
}

footer {
	color: red;
	position: fixed;
	bottom: 0;
	border: solid;
	border-color: red;
	height: 5%;
	width: 99%;
	background-color: black;
}

footer a {
	color: red;
	font-size: 1.5rem;
}

